body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.options {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  align-items: center;
}

img {
  width: 280px;
  height: 280px;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.cpuOption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#score,
#scoreboard,
#gameOver {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#gameOver {
  visibility: hidden;
}

#gameOver h1 {
  color: red;
}
